@import "~/src/scss/index.scss";

.newsletters-page {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: xx-large;
  }

  p {
    text-align: justify;
    font-size: large;
  }

  .ui.button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}