@import "~/src/scss/index.scss";

$withLeftMenu: 200px;

.auth-layout {
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  background-color: $background-light;
  background-image: linear-gradient(to bottom right, $background-aqua, $background-yellow), linear-gradient(to bottom right, $background-aqua, $background-yellow); /* definir la misma imagen de fondo para .admin-layout */

  &__left {
    width: $withLeftMenu;
    
    .logo {
      height: 30px;
      width: 100%;
      margin: 20px 0;
    }
  }

  &__right {
    width: calc(100% - #{$withLeftMenu});
    
    &-body {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 10px;
      background-color: transparent;
    }

    &-content {
      position: relative;
      margin: 20px;
      background-color: $background-light;
    }
  }

  /* Ajustar el tamaño de la imagen de fondo */
  background-size: auto, cover;
  background-position: left, right;
  background-repeat: no-repeat;
}