@import "~/src/scss/index.scss";

$columWidth: 15%;

.login-layout {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, $background-aqua, $background-yellow);

  &__left {
    display: flex;
    width: $columWidth;

    .logo {
      height: 40px;
      width: 100%;
      margin-top: 15%;
    }
  }

  &__content {
    background-color: $background-light;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;

    &__header {
      margin-top: 1% !important;
      margin-right: 1% !important;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &__right {
    display: flex;
    width: $columWidth;
  }
}