$primary: #00fffb;
$primary-hover: #3434343a;

// Text
$text-light: #fff;
$text-dark: #000;

// Background
$background-light: #ffffff;
$background-dark: #000000;
$background-grey: #ffffff;
$background-dark-web: #16212b;
$background-aqua: #77fffa;
$background-yellow: #f2ff00;

// Border
$border-grey: #808080;

// Status
$success: #84b84c;
$error: #9f3a38;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;