@import "~/src/scss/index.scss";

.basic-item {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  > .ui.image {
    width: 125px;
    height: 125px;
    overflow: hidden;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
  }
  
  h2 {
    margin-bottom: 0.5rem;
  }
  
  span {
    color: gray;
  }
}