@import "~/src/scss/index.scss";

.carousel {
  .slick-slide {
    position: relative;

    .image-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 80vh;
      background-color: $background-dark;
      z-index: 1;
      overflow: hidden;

      .ui.image {
        width: 100%;
        height: auto;
        opacity: 0.5;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        z-index: 3;
      }
    }
  }
}