@import "~/src/scss/index.scss";

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: linear-gradient(to bottom right, $background-aqua, $background-yellow, $background-aqua);

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
