@import "~/src/scss/index.scss";

.user-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-light;
  position: relative;

  &__info {
    margin-top: 5%;
    margin-bottom:2%;

    .ui.grid {
      width: 100%;

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-child {
          .ui.image {
            overflow: hidden;
          }
        }

        &:last-child {
          text-align: center;
          
          .ui.input {
            width: 100%;

            .ui.label {
              width: 40%;
            }
          }
        }
      }
    }
  }

  &__list {
    margin-bottom: 5%;
    width: 100%;
    background-color: $background-grey;
    flex-direction: column;
  }
}
