@import "~/src/scss/index.scss";

.header-bar {
  height: auto;
  width: 100%;
  background-image: linear-gradient(to bottom right, $background-aqua, $background-yellow);

  .header-bar__content {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .ui.grid {
      height: 100%;
      width: 100%;

      .column {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          font-size: x-large;
          margin: 0 auto !important;;
        }

        &:last-child {
          justify-content: flex-end !important;
        }
      }
    }

    .text {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

